# Core Libraries
numpy
pandas
scipy
jupyter
ipywidgets
tqdm
joblib

# Mathematics Libraries
sympy

# Others
networkx

# Large or Potential Problematic Libraries
tensorflow
torch
torchvision

# Data Loading and Storage
boto3
sqlalchemy
h5py
pyarrow

# Data Manipulation and Analysis
dtale
dask
sweetviz

# Visualization Libraries
bokeh
hvplot
plotly
seaborn
matplotlib
altair
folium

# Web Frameworks and Dashboarding
panel
param

# Machine Learning
scikit-learn

# Statistical Analysis
statsmodels

# Quantitative Finance
yahoo-fin
yfinance
vectorbt
backtrader
pyfolio
QuantStats

# Web Scraping
beautifulsoup4
scrapy
requests
selenium

# Auto ML
autokeras
autoPyTorch

# Optimization
optuna
hyperopt

# Data Source APIs
alpha_vantage
quandl

# Additional Libraries
openpyxl
