# Core Libraries
numpy
pandas
scipy
jupyter
ipywidgets
tqdm
joblib

# Mathematics Libraries
symPy

# Others
networkx

# Large or Potential Problematic Libraries
tensorflow
torch 
torchvision 
torchaudio
opencv-python

# Data Loading and Storage
boto3

# Data Manipulation and Analysis
pandas-datareader
dtale
dask    # parallel computing
sweetviz
pandas-profiling
dataprep
autoviz

# Visualization Libraries
bokeh
hvplot
plotly
seaborn
matplotlib
altair
folium

# Web Frameworks and Dashboarding
panel
param
streamlit

# Machine Learning
scikit-learn
XGBoost
LightGBM
CatBoost
openai

# Statistical Analysis
statsmodels

# Quantitative Finance
yahoo-fin
yfinance
vectorbt
backtrader
pyfolio
QuantStats

# Data Loading and Storage
sqlalchemy
h5py
parquet

# Web Scraping
beautifulsoup4
scrapy
requests
selenium

# AutoML
auto-sklearn
autokeras


# Optimization
optuna
hyperopt

# Data Source APIs
alpha_vantage
quandl